{% extends 'base.html.twig' %}

{% block content %}
    <div class="mb-3">
        {{ 'remote.template.description'|trans }}
        <br>
        {{ 'remote.template.instructions'|trans }}
    </div>

    <div class="form-group mb-0">
        {{ form_start(form) }}
            {{ form_errors(form, {'attr': {'class': 'alert alert-danger' } }) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
